html,
body #app {
  margin: 0;
  height: 100%;
  width: 100%;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  /* border: 1px solid black; */
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-clear {
  border: none;
  background: transparent;
}
.nav-link {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

/* REPOS GRID STYLES  */
.grid {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
}

.space-around {
  justify-content: space-around;
}

.header-lg {
  font-size: 35px;
  font-weight: 300;
  margin: 20px;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 3px;
  margin: 0 auto;
  display: block;
}

.center-text {
  text-align: center;
}

.link {
  color: red;
  text-decoration: none;
  font-weight: bold;
}

.repo {
  /* border: 1px solid blue; */
  margin: 10px;
  width: 200px;
  padding: 20px;
}

.card-list {
  /* border: 1px solid green; */
  margin: 20px 0;
  font-size: 20px;
}

.card-list li {
  display: flex;
  align-items: center;
  margin: 10px;
}

.card-list a {
  font-weight: 500;
  color: inherit;
}

.bg-light {
  background: rgb(228, 228, 228);
  border-radius: 3px;
}

.repo img {
  margin-bottom: 8px;
}
